body {
    background-color: #dbdbdb;
}
#main {
    padding-top: 100px;
}

#main .head, #main .foot {
    background-color: transparent !important;
    border: none;
}

#main .head {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 78px;
    margin-bottom: 30px;
}

#main a {
    background: #b82c12 url(../img/nav-bg.png) repeat-x center top;
    color: #fff;
}

#main a:before {
    content: '';
    background: url(../img/icon.png);
}