body {
    background: #000 url('../img/body_bg') repeat right bottom;
    background-repeat: repeat;
    background-position: center top; 
}

#mainPage .head{
    background-color: transparent;
    min-height: 90px
}